<!DOCTYPE HTML>
<html>

<head>
	{% include head.html %}
</head>

<body class="is-loading">


	<div id="wrapper" class="fade-in">


		<div id="intro" style="padding-top: 0px">
			<img src={{ "/images/logo_bienestar.png" | absolute_url }} alt="logo" id="logo-bienestar" />
			<br>
			<p id='subtitle'>Un taller para estudiantes de Ingeniería UC,
				en el que conoceremos, discutiremos y aplicaremos
				herramientas científicamente validadas para
				un bienestar sostenible.</p>
		</div>


		<br>
		<nav id="nav">

			{% include nav.html %}

		</nav>


		<div id="main">


			<section class="post">
				{{content}}
			</section>

		</div>




	</div>


	{% include scripts-main.html %}
	{% include tracking.html %}

</body>

</html>